.links {
  display: flex;
  list-style: none;
  gap: 10px;
  padding-left: 0;
}

.link {
  text-decoration: none;
  color: #505050;
  font-size: 1.2rem;
  font-weight: bold;
}

.link:hover {
  color: #000;
}

@media (max-width: 768px) {
  .links {
    flex-direction: column;
  }
}
