.card {
  display: flex;
  background-color: white;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 500px;
  margin: 10px auto;
  justify-content: center;
}


.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.card__price {
  margin: 0;
}

.card__image-container--img {
  width: 150px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card__image-container {
  padding: 10px;
  width: 150px;
  margin-right: 15px;
}

.card__info {
  text-align: center;
  display: flex;
  width: 50%;
  flex-direction: column;
  padding: 10px;
}

.card__info h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.card__info p {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.card__info--weights {
  display: flex;
  justify-content: center;
  gap: 5px;
  list-style: none;
  padding: 0;
}

.card__button {
  padding: 5px;
  border: none;
  background-color: #ffe6b2;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  text-decoration: none;
  color: #000;
}

.card__button:hover {
  background-color: #f7dfac;
  color: #000;
}

@media (min-width: 768px) {
  .card {
    width: 500px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
