.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
  align-items: center;
  background-color: #d9d9d9;
  height: 56px;
  color: white;
  /* border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%; */
}

.nav__logo {
  width: 45px;
}

.nav__input {
  background-color: white;
  height: 35px;
  width: 35%;
}

.nav__input::placeholder {
  color: #5c5c5c;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.05em;
}

@media (max-width: 768px) {
  .nav {
    height: 90px;
  }

  .nav__input {
    /* height: 56px; */
    margin: 5px;
    background-color: white;
    width: 90%;
  }

  .nav__menu-icon {
    margin-left: 15px;
    cursor: pointer;
  }
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.links {
  display: flex;
  list-style: none;
  gap: 10px;
  padding-left: 0;
}

.link {
  text-decoration: none;
  color: #505050;
  font-size: 1.2rem;
  font-weight: bold;
}

.link:hover {
  color: #000;
}
