.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #004d66;
  top: 0;
  right: 0;
  text-align: center;
  z-index: 1;
}

.sidebar__links {
  list-style: none;
  gap: 10px;
  padding-left: 0;
  width: min-content;
  align-self: center;
}

.sidebar__hidden {
  display: none;
}

.sidebar__list {
  list-style: none;
  padding: 0;
  margin: 0 10px;
}

.sidebar__logo {
  width: 10rem;
  align-self: center;
  margin: 50px 0;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 15px;
}

.sidebar__x {
  width: 32px;
  z-index: 1;
  align-self: end;
  padding: 10px;
  cursor: pointer;
  filter: invert(1);
}
