@import url("https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Tagesschrift&display=swap");

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background: #ffe6b2 url("./assets/bgfootprints.png");
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}


footer {
  background-color: #1b4001;
  padding: 15px;
  color: #fff;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}